body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    line-height: 30px;
    text-align: center;
    /*background-color: #222733;*/
    background-color: #ffffff;/* background body */

}
strong {
	font-weight: 500;
}
a, a:hover, a:focus {

	text-decoration: none;
    /*-o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s; NI IDEA PARA QUE SERVIRAN ESTAS LINEAS*/
}
h1, h2 {
	margin-top: 10px;
	font-size: 38px;
    font-weight: 100;
    line-height: 50px;
}
h3 {
	font-size: 22px;
    font-weight: 300;
}

/* Contenidos y Formulario*/
.logo{
height: 60px;
width: auto;

}

.mytop-content {
    padding: 0px 0 100px 0;
}
.mytop-content .mydescription {
    margin: 20px 0 10px 0;
}
.mytop-content .mydescription p {
    opacity: 0.8;
}
.myform-cont {
    margin-top: 35px;
    color: #005c36;
}
.myform-top {
    overflow: hidden;
    padding: 0 25px 15px 25px;
    /*background: rgba(0, 0, 0, 0.35);*/

    -webkit-box-shadow: 0px -9px 40px 13px rgba(166,166,166,1);
    -moz-box-shadow: 0px -9px 40px 13px rgba(166,166,166,1);
    box-shadow: 0px -9px 40px 13px rgba(166,166,166,1);


    -moz-border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
    text-align: left;

}

.myform-top-left {
    float: left;
    width: 75%;
    padding-top: 25px;
}
.myform-top-left p {
    opacity: 0.9;
    font-size: 1.5rem;

}
.myform-top-right {
    float: right;
    width: 25%;
    padding-top: 25px;
    font-size: 66px;
    text-align: right;
    opacity: 0.5;


}
.myform-bottom {
    padding: 25px 25px 30px 25px;

    -webkit-box-shadow: 0px 23px 40px 13px rgba(166,166,166,1);
    -moz-box-shadow: 0px 23px 40px 13px rgba(166,166,166,1);
    box-shadow: 0px 23px 40px 13px rgba(166,166,166,1);

    -moz-border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
}
.myform-bottom .mybtn {
    width: 100%;
}
input[type="text"],
input[type="password"],
textarea,
textarea.form-control {
    height: 50px;
    vertical-align: middle;
    background: #fff;
    border: 3px solid #d8d7d6;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;

}
input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus,
textarea.form-control:focus {
    background: #fff;
    border: 2px solid #1AAE88;
}
button.mybtn {
    height: 50px;
    /*background: #1AAE88;*/
    background: rgba(155,183,16,1);
    background: -moz-linear-gradient(left, rgba(155,183,16,1) 0%, rgba(0,122,71,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(155,183,16,1)), color-stop(100%, rgba(0,122,71,1)));
    background: -webkit-linear-gradient(left, rgba(155,183,16,1) 0%, rgba(0,122,71,1) 100%);
    background: -o-linear-gradient(left, rgba(155,183,16,1) 0%, rgba(0,122,71,1) 100%);
    background: -ms-linear-gradient(left, rgba(155,183,16,1) 0%, rgba(0,122,71,1) 100%);
    background: linear-gradient(to right, rgba(155,183,16,1) 0%, rgba(0,122,71,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9bb710', endColorstr='#007a47', GradientType=1 );
    border: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 40px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}
button.mybtn:hover, button.mybtn:active {
    opacity: 0.7;
    color: #fff;
    background: #007a47;
    background: -moz-linear-gradient(left, #007a47 0%, #9bb710 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #007a47), color-stop(100%, #9bb710));
    background: -webkit-linear-gradient(left, #007a47 0%, #9bb710 100%);
    background: -o-linear-gradient(left, #007a47 0%, #9bb710 100%);
    background: -ms-linear-gradient(left, #007a47 0%, #9bb710 100%);
    background: linear-gradient(to right, #007a47 0%, #9bb710 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007a47', endColorstr='#9bb710', GradientType=1 );
}
button.mybtn:focus {
    opacity: 0.8;
    color: #fff;
    /*background: #007a47;*/
}

/*LOGIN REDES SOCIALES*/

.mysocial-login {
    margin-top: 90px;
}

.mysocial-login img{
    height: 100%;
    margin-left: auto;
    margin-right: auto;


}



.mysocial-login-buttons {
    margin-top: 25px;
}
.mybtn-social {
    display: inline-block;
    height: 50px;
    margin: 5px;
    padding: 15px 20px 0 20px;
    /*background: rgba(0, 0, 0, 0.3);*/
    border: 1px solid #005c36;
    font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #005c36;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.mybtn-social:hover, .mybtn-social:focus,
.mybtn-social:active, .mybtn-social:active:focus {
    outline: 0;
    opacity: 0.6;
    background: rgba(0, 92, 54, 0.3);
    color: #fff;
}

/* Media queries */

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 991px) {}

@media (max-width: 767px) {

    .mytop-content { padding: 60px 0 110px 0; }

}

@media (max-width: 415px) {

    h1, h2 { font-size: 32px; }

}
