/**-----------------------------------CLASES PERSONALIZADAS NILTON---------------------------------------------------------*/



 .aprobado{

background-color: #E9FCFA;
border: 1px dashed #006600;
padding: 8px;
margin-bottom: 10px;
}

.rechazado{

background-color: #FFEDED;
border: 1px dashed #FA206A;
padding: 8px;
margin-bottom: 10px;
}

.div_modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*background-color: #002640;*/
  background-color: #005c36;
  opacity: .80;
  -webkit-opacity: .8;
  -moz-opacity: .8;
  filter: alpha(opacity=80);
  z-index: 1040;
}


.div_contenu {
  background-color: #fff;
  box-shadow: 0 0 20px 0 #222;
  -webkit-box-shadow: 0 0 20px 0 #222;
  -moz-box-shadow: 0 0 20px 0 #222;
  display: none;
  height: auto;
  margin-left: 2%;
  margin-right: 2%;
  left: 0;
  right: 0;
  padding: 10px;
  position: absolute;
  top: 6%;
  width: auto;
  min-height: 90%;
  z-index: 1050;
}


.box-gris{
background-color:#abb6b0 !important;
}

.box-white{
background-color:#fff !important;
}

.form-group {

  margin-bottom: 1px;
}

.form-control {
  border-radius: 0;
  box-shadow: none;
  border-color: #b1cada;
  margin-bottom: 20px;
}
