/*
 * Skin: Green
 * -----------
 */
.skin-green .main-header .navbar {
  /*background-color: #00a65a;*/
  background: #007a47;
background: -moz-linear-gradient(left, #007a47 0%, #9bb710 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, #007a47), color-stop(100%, #9bb710));
background: -webkit-linear-gradient(left, #007a47 0%, #9bb710 100%);
background: -o-linear-gradient(left, #007a47 0%, #9bb710 100%);
background: -ms-linear-gradient(left, #007a47 0%, #9bb710 100%);
background: linear-gradient(to right, #007a47 0%, #9bb710 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007a47', endColorstr='#9bb710', GradientType=1 );
}
.skin-green .main-header .navbar .nav > li > a {
  color: #ffffff;
}
.skin-green .main-header .navbar .nav > li > a:hover,
.skin-green .main-header .navbar .nav > li > a:active,
.skin-green .main-header .navbar .nav > li > a:focus,
.skin-green .main-header .navbar .nav .open > a,
.skin-green .main-header .navbar .nav .open > a:hover,
.skin-green .main-header .navbar .nav .open > a:focus,
.skin-green .main-header .navbar .nav > .active > a {
  background: rgba(0, 0, 0, 0.1);
  color: #f6f6f6;
}
.skin-green .main-header .navbar .sidebar-toggle {
  color: #ffffff;
}
.skin-green .main-header .navbar .sidebar-toggle:hover {
  color: #f6f6f6;
  background: rgba(0, 0, 0, 0.1);
}
.skin-green .main-header .navbar .sidebar-toggle {
  color: #fff;
}
.skin-green .main-header .navbar .sidebar-toggle:hover {
  background-color: #008d4c;
}
@media (max-width: 767px) {
  .skin-green .main-header .navbar .dropdown-menu li.divider {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .skin-green .main-header .navbar .dropdown-menu li a {
    color: #fff;
  }
  .skin-green .main-header .navbar .dropdown-menu li a:hover {
    background: #008d4c;
  }
}
.skin-green .main-header .logo {
  /*background-color: #008d4c;*/
  background-color: #d5d5d6;
  color: #ffffff;
  border-bottom: 0 solid transparent;
}
.skin-green .main-header .logo:hover {
  background-color: #008749;
}
.skin-green .main-header li.user-header {
  /*background-color: #00a65a;*/
  background: #004d2d;
  background: -moz-linear-gradient(top, #004d2d 0%, #64760a 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #004d2d), color-stop(100%, #64760a));
  background: -webkit-linear-gradient(top, #004d2d 0%, #64760a 100%);
  background: -o-linear-gradient(top, #004d2d 0%, #64760a 100%);
  background: -ms-linear-gradient(top, #004d2d 0%, #64760a 100%);
  background: linear-gradient(to bottom, #004d2d 0%, #64760a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004d2d', endColorstr='#64760a', GradientType=0 );
}
.skin-green .content-header {
  /*background: transparent;*/
  background-color: #d8d7db;
}
.skin-green .wrapper,
.skin-green .main-sidebar,
.skin-green .left-side {
  /*background-color: #222d32;*/
  /*background: #007a47;*/
  background: #004d2d;
  background: -moz-linear-gradient(top, #004d2d 0%, #64760a 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #004d2d), color-stop(100%, #64760a));
  background: -webkit-linear-gradient(top, #004d2d 0%, #64760a 100%);
  background: -o-linear-gradient(top, #004d2d 0%, #64760a 100%);
  background: -ms-linear-gradient(top, #004d2d 0%, #64760a 100%);
  background: linear-gradient(to bottom, #004d2d 0%, #64760a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004d2d', endColorstr='#64760a', GradientType=0 );
}
.skin-green .user-panel > .info,
.skin-green .user-panel > .info > a {
  color: #fff;
}
.skin-green .sidebar-menu > li.header {
  color: #4b646f;
  background: #d8d7db;
}
.skin-green .sidebar-menu > li > a {
  border-left: 3px solid transparent;
}
.skin-green .sidebar-menu > li:hover > a,
.skin-green .sidebar-menu > li.active > a {
  color: #ffffff;
  background: #1e282c;
  border-left-color: #00a65a;
}
.skin-green .sidebar-menu > li > .treeview-menu {
  margin: 0 1px;
  background: #2c3b41;
}
.skin-green .sidebar a {
  color: #b8c7ce;
}
.skin-green .sidebar a:hover {
  text-decoration: none;
}
.skin-green .treeview-menu > li > a {
  color: #8aa4af;
}
.skin-green .treeview-menu > li.active > a,
.skin-green .treeview-menu > li > a:hover {
  color: #ffffff;
}
.skin-green .sidebar-form {
  border-radius: 3px;
  border: 1px solid #374850;
  margin: 10px 10px;
}
.skin-green .sidebar-form input[type="text"],
.skin-green .sidebar-form .btn {
  box-shadow: none;
  background-color: #374850;
  border: 1px solid transparent;
  height: 35px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.skin-green .sidebar-form input[type="text"] {
  color: #666;
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
}
.skin-green .sidebar-form input[type="text"]:focus,
.skin-green .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  background-color: #fff;
  color: #666;
}
.skin-green .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  border-left-color: #fff;
}
.skin-green .sidebar-form .btn {
  color: #999;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
}
